
/* navbar/header elements stylesheets  */
.logo{
  font-family:"Pacifico";
  color:#4a148c;
  font-weight:300;
  font-size: 30px;
  position:relative;
  margin-left:10px;
  margin-top:-16px;
}
.header{
  background-color: #ffffff;
  margin: auto -16px;
  padding: 5px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  font-family: 'Roboto Condensed', sans-serif;
  height:60px;
}

/* fontawesome icons styleing */

.header-icons{
  margin:-16px 12px 23px 12px;
  font-size:20px;
}

.profile-placeholder{
  margin-left:20px;
  margin-bottom: 20px;
  margin-top:10px;
  font-size:32px;
}

/* navbar css overriding */
.navbar{
  padding:unset;
}
/* homepage css */


/* react components statefull  */

.searchBox{
  width: 30rem;
  height:2rem;
  margin-top:-16px;
  margin-bottom: 10px;
  border-radius:2px;
  border:solid;
  border-width: thin;
  border-color:#bdbdbd;
}

:focus{
  outline: solid;
  outline-color:#4a148c ;
  border:none;
}


